<ion-header>
  <ion-toolbar>
    <ion-button color="light" (click)="dismissLogin()">خروج</ion-button>
    <ion-title>تسجيل دخول عضو لجنة</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
