<ion-header>
  <ion-toolbar>
    <!-- <ion-title>landing</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/shapes.svg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>ازر</ion-card-subtitle>
      <ion-card-title>مرحيا بك في ازر</ion-card-title>
    </ion-card-header>
    <ion-col>
      <ion-button color="primary" expand="full" color="primary" (click)="login()">تسجيل الدخول</ion-button>
    </ion-col>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <ion-row>
        <ion-col>
          <ion-button color="primary" expand="full" color="danger" (click)="register()">تسجيل جديد</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="primary" expand="full" color="primary" (click)="loginCommit()">تسجيل دخول عضو لجنة</ion-button>
        </ion-col>
      </ion-row>
  </ion-toolbar>
</ion-footer>