<ion-header>
  <ion-toolbar>
    <ion-title>المرفقات</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-list>

        <ion-item>
          <ion-input type="file" (change)="onFileChange($event)"></ion-input>
        </ion-item>

      <ion-button color="primary" expand="full" color="danger" routerLink="/" routerDirection="forward">حفظ والتالي</ion-button>
      <ion-button color="primary" expand="full" color="danger" routerLink="/commitment" routerDirection="backward">رجوع</ion-button>
      </ion-list>
    </ion-col>
  </ion-row>

</ion-content>
