<ion-header>
  <ion-toolbar>
    <ion-title>amina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #form="ngForm" (ngSubmit)="logForm(form)">
    <ion-item>
      <ion-label color="primary" floating>الاسم الاول </ion-label>
      <ion-input [value]="personal_info.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>email</ion-label>
      <ion-input [value]="personal_info.email"></ion-input>
    </ion-item>
    <button type="submit" block>حفظ</button>
  </form>
</ion-content>
