<ion-header>
  <ion-toolbar>
    <ion-title>المعلومات الشخصية</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item>
          <ion-label color="primary" floating>الاسم الاول </ion-label>
          <ion-input ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>الاسم الثاني </ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>اسم الجد </ion-label>
          <ion-input ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>الاسم العائلة </ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>الجنس </ion-label>
          <ion-select>
            <ion-select-option  value="female">انثى</ion-select-option >
            <ion-select-option value="male">ذكر</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating> رقم الهوية </ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>جهة الإصدار:</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>مكان الميلاد</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>تاريخ الميلاد</ion-label>
          <ion-datetime value="2019-10-01T15:43:40.394Z" display-timezone="utc"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>تاريخ إصدار بطاقة الهوية:</ion-label>
          <ion-datetime value="2019-10-01T15:43:40.394Z" display-timezone="utc"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>تاريخ إنتهاء بطاقة الهوية:</ion-label>
          <ion-datetime value="2019-10-01T15:43:40.394Z" display-timezone="utc"></ion-datetime>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="full" color="danger" routerLink="/job" routerDirection="forward">حفظ والتالي</ion-button>
      <ion-button color="primary" expand="full" color="danger" routerLink="/home" routerDirection="backward">رجوع</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
