<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ترحيب</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- ما ضبطت عيديها -->
  <div *ngIf="user != undefined">
      مرحباً {{ user["name"]  }}
  </div>
  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="full" color="danger" routerLink="/personal-info" routerDirection="forward">المفروض يشتغل بيانات شخصية</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="full" color="danger" routerLink="/personalinfo" routerDirection="forward">personalinfo</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="full" color="danger" routerLink="/amina" routerDirection="forward">amina</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="full" color="danger" routerLink="/attachment" routerDirection="forward">attachment</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button color="primary" expand="full" color="danger" routerLink="/camera" routerDirection="forward">camera</ion-button>
    </ion-col>
  </ion-row>
</ion-content>