<ion-header>
  <ion-toolbar>
    <ion-title>socialInfo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item>
          <ion-label color="primary"floating>الحالة الإجتماعية </ion-label>
          <ion-select>
            <ion-select-option>رب أسرة</ion-select-option >
            <ion-select-option>مطلقة</ion-select-option >
            <ion-select-option>أرملة</ion-select-option >
            <ion-select-option>مهجورة</ion-select-option >
            <ion-select-option>آخرى</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>عدد الزوجات</ion-label>
          <ion-select>
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>إجمالي عدد أفراد الأسرة المعالين</ion-label>
          <ion-select>
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>5</ion-select-option >
            <ion-select-option>6</ion-select-option >
            <ion-select-option>7</ion-select-option >
            <ion-select-option>8</ion-select-option >
            <ion-select-option>9</ion-select-option >
            <ion-select-option>10</ion-select-option >
            <ion-select-option>11</ion-select-option >
            <ion-select-option>12</ion-select-option >
            <ion-select-option>13</ion-select-option >
            <ion-select-option>14</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>عدد الذكور</ion-label>
          <ion-select>
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>5</ion-select-option >
            <ion-select-option>6</ion-select-option >
            <ion-select-option>7</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>عدد الاناث</ion-label>
          <ion-select>
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>5</ion-select-option >
            <ion-select-option>6</ion-select-option >
            <ion-select-option>7</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>من يتولى الإنفاق على الأسرة:</ion-label>
          <ion-select>
            <ion-select-option>والد</ion-select-option >
            <ion-select-option>والدة</ion-select-option >
            <ion-select-option>زوج</ion-select-option >
            <ion-select-option>زوجة</ion-select-option >
            <ion-select-option>ابن</ion-select-option >
            <ion-select-option>جد</ion-select-option >
            <ion-select-option>جدة</ion-select-option >
            <ion-select-option>أخ</ion-select-option >
            <ion-select-option>أخت</ion-select-option >
            <ion-select-option>ابن الإبن</ion-select-option >
            <ion-select-option>عم</ion-select-option >
            <ion-select-option>عمة</ion-select-option >
            <ion-select-option>خال</ion-select-option >
            <ion-select-option>خالة</ion-select-option >
            <ion-select-option>ابن الأخ</ion-select-option >
            <ion-select-option>ابن الأخت</ion-select-option >
            <ion-select-option>الجار</ion-select-option >
            <ion-select-option>فاعل خير</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary"floating>هل يتولى العائل أفراد آخرين</ion-label>
          <ion-select>
            <ion-select-option>نعم</ion-select-option >
            <ion-select-option>لا</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>عدد الأفراد الذي يتولى العائل أمرهم</ion-label>
          <ion-select>
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>5</ion-select-option >
            <ion-select-option>6</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>لماذا يتولى العائل أمرهم:</ion-label>
          <ion-input ></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>عدد الدارسين من أفراد الأسرة:</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>المرحلة الإبتدائية</ion-label>
          <ion-select>
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>5</ion-select-option >
            <ion-select-option>6</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>المرحلة المتوسطة</ion-label>
          <ion-select>
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>5</ion-select-option >
            <ion-select-option>6</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>المرحلة الثانوية</ion-label>
          <ion-select>
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>5</ion-select-option >
            <ion-select-option>6</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>المرحلة الجامعية</ion-label>
          <ion-select>
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>5</ion-select-option >
            <ion-select-option>6</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>الخريجين</ion-label>
          <ion-select>
            <ion-select-option>0</ion-select-option >
            <ion-select-option>1</ion-select-option >
            <ion-select-option>2</ion-select-option >
            <ion-select-option>3</ion-select-option >
            <ion-select-option>4</ion-select-option >
            <ion-select-option>5</ion-select-option >
            <ion-select-option>6</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>المعلومات الصحية</ion-label>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>هل تشكو من أمراض مزمنة؟</ion-label>
          <ion-select>
            <ion-select-option>سليم</ion-select-option >
            <ion-select-option>أمراض القلب</ion-select-option >
            <ion-select-option>أمراض السكري</ion-select-option >
            <ion-select-option>ارتفاع ضغط الدم</ion-select-option >
            <ion-select-option>إعاقة بصرية أو سمعية/حركية</ion-select-option >
            <ion-select-option>آخرى</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>المصابون بأمراض من أفراد العائلة:</ion-label>
        </ion-item>

        <ion-item>
          <ion-label color="primary" floating>اسم المريض</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
          <ion-label color="primary"floating>جنس المريض</ion-label>
          <ion-select>
            <ion-select-option>ذكر</ion-select-option >
            <ion-select-option>أنثى</ion-select-option >
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label color="primary" floating>صلة قرابة المريض بمقدم الطلب:</ion-label>
          <ion-select>
            <ion-select-option>والد</ion-select-option >
            <ion-select-option>والدة</ion-select-option >
            <ion-select-option>زوج</ion-select-option >
            <ion-select-option>زوجة</ion-select-option >
            <ion-select-option>ابن</ion-select-option >
            <ion-select-option>جد</ion-select-option >
            <ion-select-option>جدة</ion-select-option >
            <ion-select-option>أخ</ion-select-option >
            <ion-select-option>أخت</ion-select-option >
            <ion-select-option>ابن الإبن</ion-select-option >
            <ion-select-option>عم</ion-select-option >
            <ion-select-option>عمة</ion-select-option >
            <ion-select-option>خال</ion-select-option >
            <ion-select-option>خالة</ion-select-option >
            <ion-select-option>ابن الأخ</ion-select-option >
            <ion-select-option>ابن الأخت</ion-select-option >
            <ion-select-option>الجار</ion-select-option >
            <ion-select-option>فاعل خير</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>اسم المرض</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>تاريخ المرض</ion-label>
          <ion-datetime value="2019-10-01T15:43:40.394Z" display-timezone="utc"></ion-datetime>
        </ion-item>


      <ion-button color="primary" expand="full" color="danger" routerLink="/contact-info" routerDirection="forward">حفظ والتالي</ion-button>
      <ion-button color="primary" expand="full" color="danger" routerLink="/job" routerDirection="backward">رجوع</ion-button>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
