<ion-header>
  <ion-toolbar>
    <ion-title>الإفصاح عن الإلتزامات</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <ion-list>

        <ion-item>
          <ion-label color="primary" floating>إيجار سنوي</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>متوسط فاتورة الكهرباء(شهريا)</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>متوسط فاتورة الماء(شهريا)</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>أقساط شهرية(الصندوق العقاري)</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>أقساط شهرية(بنك التنمية الإجتماعية)</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>أقساط شهرية(بنك تجاري)</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>ديون شخصية</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>مستلزمات المواليد والأطفال (إجمالي المصروفات الشهرية)</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>عيادات ومستوصفات أهلية(إجمالي المصروفات الشهرية)</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>إجمالي مصروفات التنقل(شهريا)</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>تعبئة البنزين أو الديزل وتغيير الزيت(اجمالي المصروفات شهريا)</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>صيانة أعطال السيارة(إجمالي المصروفات شهريا)</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>هل لديك أي أعباء مالية أو ديون أخرى</ion-label>
          <ion-select>
            <ion-select-option>نعم</ion-select-option >
            <ion-select-option>لا</ion-select-option >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label color="primary" floating>الديون الأخرى</ion-label>
          <ion-input></ion-input>
        </ion-item>

      <ion-button color="primary" expand="full" color="danger" routerLink="/attachment" routerDirection="forward">حفظ والتالي</ion-button>
      <ion-button color="primary" expand="full" color="danger" routerLink="/home-info" routerDirection="backward">رجوع</ion-button>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
