<ion-header>
  <ion-toolbar>
    <ion-button color="light" (click)="dismissLogin()">خروج</ion-button>
    <ion-title>تسجيل دخول</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (ngSubmit)="login(form)" method="post">
    <ion-item>
      <ion-label position="floating">البريد الالكتروني</ion-label>
      <ion-input ngModel type="email" name="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">الرقم السري</ion-label>
      <ion-input ngModel type="password" name="password"></ion-input>
    </ion-item>
  
  
    <ion-button type="submit" expand="full" color="primary">تسجيل الدخول</ion-button>
  </form>

  <p text-center>لايوجد لديك حساب؟</p>
  <ion-button expand="full" color="danger" (click)="registerModal()">تسجيل جديد</ion-button>
</ion-content>
